html{
	box-sizing: border-box;
/*	margin-left: auto;
	position: absolute;
	right: 0;*/
	width: 100vw;
	height: 100vh;
}

body{
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;
	padding: 0;
	
}

#area0{
	background-color: cadetblue;
	flex-grow:2;
}

#area1{
	min-width: 180px;	
	max-width: 300px;
	background-color: tomato;
	flex-grow:2;
}

#area2 {
	min-width: 300px;
	max-width: 400px;
	background-color:pink;
	flex-grow:1;
}
	
#area3 {
	background-image: url("../img/bg.jpg");	
/*	夕映えの影のフリー素材 https://www.pakutaso.com/20150113022post-5086.html*/
	background-size: cover;
	background-position: 68%;
	flex-grow:3;
}

@media screen and (min-width:600px){
	/*横幅600切ったらスマホ用画面にする。
		フレックスボックスの並び順を3⇒1⇒0⇒2にする
		横並びから盾並びにする
		<h1>の場所をエリア1からエリア3に移動する
	*/
}