html{
	box-sizing: border-box;
	margin-left: auto;
}

body{
	
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;

	position: absolute;
	height: 100%;
	
	box-sizing: border-box;
}

.area{
	min-height: 100%;
	}

#area1{
		max-width: 300px;
		transition: 0.8s;
	}

#area2 {
		background-color:pink;
		width: 400px;
		min-width: 400px;

		padding: 0 20px 0;
	}
	
#area3 {
		background-image: url("../img/bg.jpg");	
		/*夕映えの影のフリー素材 https://www.pakutaso.com/20150113022post-5086.html*/
		background-size: cover;
		background-position: 68%;
	}
	

@media screen and (min-width:480px){
	#area1{
		margin-left: 50px;
		max-width: 300px;
		
		transition: 0.8s;
	}
	#area3{
		background-image: url("../img/bg.jpg");	
		/*夕映えの影のフリー素材 https://www.pakutaso.com/20150113022post-5086.html*/
		background-size: cover;
		background-position: 60%;
		min-width: 330px;
		transition: 0.8s;
	}
}

@media screen and (min-width:768px) and ( max-width:1024px){
	#area1{
		margin-left: 100px;
		max-width: 300px;
		
		transition: 0.8s;
		transition: 0.8s;
	}
	#area3{
		background-image: url("../img/bg.jpg");	
		/*夕映えの影のフリー素材 https://www.pakutaso.com/20150113022post-5086.html*/
		background-size: cover;
		background-position: 40%;
		min-width: 360px;
		transition: 1.0s;
	}	
}
@media screen and ( min-width:1024px){
	#area1{
		margin-left: 200px;
		max-width: 300px;
		
		transition: 1.0s;
	}
	#area3{
		background-image: url("../img/bg.jpg");	
		/*夕映えの影のフリー素材 https://www.pakutaso.com/20150113022post-5086.html*/
		background-size: cover;
		background-position: 20%;

		min-width: 500px;
		max-width: 1600px;
		transition: 1.0s;

	}
}

